<div class="container-fluid">
  <div ng-if="skilltree.master" class="swg-single-skill-row" >
    <div class="swg-single-skill-row-skill" ng-class="skilltree.master.selected?'selected':''">
      <swg-skill skill="skilltree.master" select-skill="selectSkill({skill:skill})"></swg-skill>
    </div>
  </div>

  <div ng-if="skilltree.novice" class="swg-single-skill-row">
    <div class="swg-single-skill-row-skill"  ng-class="skilltree.trees[0][3].selected?'selected':''">
      <swg-skill skill="skilltree.trees[0][3]" select-skill="selectSkill({skill:skill})"></swg-skill>
    </div>
  </div>

  <div ng-if="skilltree.novice" class="swg-single-skill-row">
    <div class="swg-single-skill-row-skill"  ng-class="skilltree.trees[0][2].selected?'selected':''">
      <swg-skill skill="skilltree.trees[0][2]" select-skill="selectSkill({skill:skill})"></swg-skill>
    </div>
  </div>

  <div ng-if="skilltree.novice" class="swg-single-skill-row">
    <div class="swg-single-skill-row-skill"  ng-class="skilltree.trees[0][1].selected?'selected':''">
      <swg-skill skill="skilltree.trees[0][1]" select-skill="selectSkill({skill:skill})"></swg-skill>
    </div>
  </div>

  <div ng-if="skilltree.novice" class="swg-single-skill-row">
    <div class="swg-single-skill-row-skill"  ng-class="skilltree.trees[0][0].selected?'selected':''">
      <swg-skill skill="skilltree.trees[0][0]" select-skill="selectSkill({skill:skill})"></swg-skill>
    </div>
  </div>


  <div ng-if="skilltree.novice" class="swg-single-skill-row">
    <div class="swg-single-skill-row-skill"  ng-class="skilltree.novice.selected?'selected':''">
      <swg-skill skill="skilltree.novice" select-skill="selectSkill({skill:skill})"></swg-skill>
    </div>
  </div>

</div>
